In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import csv
import time

In [5]:
driver = webdriver.Chrome()
driver.get('https://www.glassdoor.co.in/Job/hyder%C4%81b%C4%81d-data-analyst-jobs-SRCH_IL.0,9_IC2865319_KO10,22.htm')

In [6]:
data = []
while True:
    jobs = driver.find_elements(By.CLASS_NAME,'JobCard_jobCardContainer__arQlW')
    for j in jobs:
        try:
            company = j.find_element(By.CLASS_NAME,'EmployerProfile_compactEmployerName__9MGcV').text
        except:
            company = 'N/A'

        try:
            role = j.find_element(By.CLASS_NAME,'JobCard_jobTitle__GLyJ1').text
        except:
            role ='N/A'

        try:
            location = j.find_element(By.CLASS_NAME,'JobCard_location__Ds1fM').text
        except:
            location ='N/A'

        try:
            salary = j.find_element(By.CLASS_NAME,'JobCard_salaryEstimate__QpbTW').text
        except:
            salary = 'N/A'

        try:
            update = j.find_element(By.CLASS_NAME,'JobCard_listingAge__jJsuc').text
        except:
            update = 'N/A'

        data.append({
            'Company Name': company,
            'Role': role,
            'Location': location,
            'Salary' : salary,
            'Last Update':update
        })     
    try:
        next_button = WebDriverWait(driver, 10).until(
            EC.element_to_be_clickable((By.CSS_SELECTOR, "button[data-test='load-more']"))
        )
        next_button.click()
    except:
        break

In [7]:
data

[{'Company Name': 'Optum',
  'Role': 'Lead Data Analyst - AI/ ML',
  'Location': 'Hyderābād',
  'Salary': '₹3L - ₹6L (Glassdoor Est.)',
  'Last Update': '30d'},
 {'Company Name': 'Optum',
  'Role': 'Data Analyst - Power BI, Python and Alteryx',
  'Location': 'Hyderābād',
  'Salary': 'N/A',
  'Last Update': '30d'},
 {'Company Name': 'Optum',
  'Role': 'Senior Business Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹7L (Glassdoor Est.)',
  'Last Update': '14d'},
 {'Company Name': 'ITI Data',
  'Role': 'Data Analyst (Kafka, API)',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹6L (Glassdoor Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'ITI Data',
  'Role': 'Data Analyst with QlikView',
  'Location': 'Hyderābād',
  'Salary': '₹4L - ₹6L (Glassdoor Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'DAZN',
  'Role': 'Junior Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹6L - ₹8L (Glassdoor Est.)',
  'Last Update': '24h'},
 {'Company Name': 'ekincare',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹4L - ₹6L (Glassdoor Est.)',
  'Last Update': '24h'},
 {'Company Name': 'Patra Corporation',
  'Role': 'Data Analyst 1',
  'Location': 'Hyderābād',
  'Salary': '₹6L - ₹10L (Glassdoor Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'Infor',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹50T - ₹7L (Glassdoor Est.)',
  'Last Update': '2d'},
 {'Company Name': 'DAZN',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹6L - ₹8L (Glassdoor Est.)',
  'Last Update': '24h'},
 {'Company Name': 'sonataOne',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹4L - ₹6L (Glassdoor Est.)',
  'Last Update': '10d'},
 {'Company Name': 'JPMorganChase',
  'Role': 'Analyst - WKO Data & Solutions',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹8L (Glassdoor Est.)',
  'Last Update': '24h'},
 {'Company Name': 'Credit Safe Technology Private Limited',
  'Role': 'Data Analyst',
  'Location': 'India',
  'Salary': '₹7L - ₹12L (Employer Est.)',
  'Last Update': '10d'},
 {'Company Name': 'Prakara Learning Pvt Ltd',
  'Role': 'Data Analyst/MIS',
  'Location': 'India',
  'Salary': '₹4L - ₹5L (Employer Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'Wipro Limited',
  'Role': 'Data Analyst - L4',
  'Location': 'Hyderābād',
  'Salary': '₹4L - ₹7L (Glassdoor Est.)',
  'Last Update': '13d'},
 {'Company Name': 'Intercontinental Exchange Holdings, Inc.',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': 'N/A',
  'Last Update': '30d+'},
 {'Company Name': 'VXI Global Solutions',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹7L (Glassdoor Est.)',
  'Last Update': '16d'},
 {'Company Name': 'IntouchCX',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹6L - ₹9L (Glassdoor Est.)',
  'Last Update': '13d'},
 {'Company Name': 'Precision AQ',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹7L (Glassdoor Est.)',
  'Last Update': '29d'},
 {'Company Name': 'Appzlogic Mobility Solutions Pvt Ltd',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹8L (Glassdoor Est.)',
  'Last Update': '21d'},
 {'Company Name': 'Google',
  'Role': 'Ads Expert Rater Analyst, Trust and Safety',
  'Location': 'Hyderābād',
  'Salary': 'N/A',
  'Last Update': '24h'},
 {'Company Name': 'Deloitte',
  'Role': 'Quality Risk and Regulations-Hyderabad-Analyst/Associate Analyst',
  'Location': 'Hyderābād',
  'Salary': 'N/A',
  'Last Update': '24h'},
 {'Company Name': 'Zeta Global',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹4L - ₹9L (Glassdoor Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'YouTube',
  'Role': 'Scaled Abuse Analyst, Trust & Safety, YouTube',
  'Location': 'Hyderābād',
  'Salary': '₹1L - ₹2L (Glassdoor Est.)',
  'Last Update': '14d'},
 {'Company Name': 'Wells Fargo',
  'Role': 'Data Management Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹6L - ₹7L (Glassdoor Est.)',
  'Last Update': '8d'},
 {'Company Name': 'Expertrons',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹8L - ₹15L (Employer Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'Saven Technologies',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹3L - ₹7L (Glassdoor Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'CDK Global',
  'Role': 'Data Analyst',
  'Location': 'Hyderābād',
  'Salary': 'N/A',
  'Last Update': '30d+'},
 {'Company Name': 'Wipro Limited',
  'Role': 'Business Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹3L - ₹8L (Glassdoor Est.)',
  'Last Update': '11d'},
 {'Company Name': 'Seismic',
  'Role': 'Web Marketing Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹3L - ₹6L (Glassdoor Est.)',
  'Last Update': '15d'},
 {'Company Name': 'Optum',
  'Role': 'Lead Data Analyst - AI/ ML',
  'Location': 'Hyderābād',
  'Salary': '₹3L - ₹6L (Glassdoor Est.)',
  'Last Update': '30d'},
 {'Company Name': 'Optum',
  'Role': 'Data Analyst - Power BI, Python and Alteryx',
  'Location': 'Hyderābād',
  'Salary': 'N/A',
  'Last Update': '30d'},
 {'Company Name': 'Optum',
  'Role': 'Senior Business Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹7L (Glassdoor Est.)',
  'Last Update': '14d'},
 {'Company Name': 'ITI Data',
  'Role': 'Data Analyst (Kafka, API)',
  'Location': 'Hyderābād',
  'Salary': '₹5L - ₹6L (Glassdoor Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'ITI Data',
  'Role': 'Data Analyst with QlikView',
  'Location': 'Hyderābād',
  'Salary': '₹4L - ₹6L (Glassdoor Est.)',
  'Last Update': '30d+'},
 {'Company Name': 'DAZN',
  'Role': 'Junior Data Analyst',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': 'N/A',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': 'N/A',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': 'N/A',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': '',
  'Last Update': ''},
 {'Company Name': '',
  'Role': '',
  'Location': '',
  'Salary': 'N/A',
  'Last Update': '30d+'},
 {'Company Name': 'Wipro Limited',
  'Role': 'Business Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹3L - ₹8L (Glassdoor Est.)',
  'Last Update': '11d'},
 {'Company Name': 'Seismic',
  'Role': 'Web Marketing Data Analyst',
  'Location': 'Hyderābād',
  'Salary': '₹3L - ₹6L (Glassdoor Est.)',
  'Last Update': '15d'}]

In [8]:
df=pd.DataFrame(data)

In [9]:
df.head()

,Company Name,Role,Location,Salary,Last Update
0,Optum,Lead Data Analyst - AI/ ML,Hyderābād,₹3L - ₹6L (Glassdoor Est.),30d
1,Optum,"Data Analyst - Power BI, Python and Alteryx",Hyderābād,N/A,30d
2,Optum,Senior Business Analyst,Hyderābād,₹5L - ₹7L (Glassdoor Est.),14d
3,ITI Data,"Data Analyst (Kafka, API)",Hyderābād,₹5L - ₹6L (Glassdoor Est.),30d+
4,ITI Data,Data Analyst with QlikView,Hyderābād,₹4L - ₹6L (Glassdoor Est.),30d+

In [11]:
df.to_csv("glassdoor_data_DA_jobs.csv", index=False)